.NavBar {
  margin: 20px 0 60px 0;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 260px;
  margin-right: 20px;
  justify-content: center;
  height: 20px;
}
.Card {
  margin-right: 50px;
  margin-bottom: 20px;
}

.input-container {
  min-width: 20rem;
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0.05);
  border: 0px;
}

.search-button {
  background-color: beige;
  text-align: center;
  flex-shrink: 0;
  cursor: pointer;
}

.card-detail {
  margin-left: 20rem;
  margin-right: 20rem;
  justify-content: center;
}
